@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

#root .App {
    margin: 0 auto;
    text-align: center;
    width: 85%;
}
#root .App div {
    text-align: center;
}
#root .errorWrapper, 
#root .loadingWrapper {
    color: black;
}
#root .city-input-controls {
    margin-top: 8px;
}
#root .city-input {
    padding: 2px 4px;
}
#root .city-input-controls button {
    padding: 2px 4px;
}